
<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a href="#/vote">Go Vote!</a></li>
    <li class="active" ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#" ng-click="logout()">Log Out</a></li>
    <li ng-cloak ng-show-auth="['logout','error']" ng-controller="LoginController"><a href="#vote" ng-click="loginGithub()">Log In With Github</a></li>
  </ul>
  <h3 class="text-muted">HR karaoke</h3>
</div>

<h1>Please Log in with Github in order to use this app!</h1>
<footer>
  <span>Made with 3 by MrNice</span>
</footer>
