  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li class="{{ buttons.all }}"><a ng-click="getAll()">All</a></li>
      <li class="{{ buttons.mine }}"><a ng-click="getMine()">My Songs</a></li>
      <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#" ng-click="logout()">Log Out</a></li>
      <li ng-cloak ng-show-auth="['logout','error']" ng-controller="LoginController"><a href="#vote" ng-click="loginGithub()">Log In With Github</a></li>
    </ul>
    <h3 class="text-muted">HR karaoke</h3>
</div>
<div class="well" ng-model="songs" ng-repeat="song in songs" >    
  <ul>
  <li>Song: {{ song.title }}</li>
  <li>Who should sing: {{ song.singer }}</li>
  <li>Orig. Artist: {{ song.artist }}</li>
  <li>Total Votes: {{ song.votes }}</li>
  <li>Suggester: {{ song.owner }}</li>
</ul>
</div>
<a href="#suggest"><button class="btn btn-primary btn-block">Suggest Song</button></a>
